# ===============================
# ENVIRONMENT
# ===============================
ENV=local

# ===============================
# POSTGRES
# ===============================
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tennis

# ===============================
# RABBITMQ
# ===============================
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# ===============================
# MINIO / S3
# ===============================
S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=admin #usar MinIO desde apps
S3_SECRET_KEY=password
S3_BUCKET=tennis-data

# (opcional, para compatibilidad con infra)
MINIO_ROOT_USER=admin #levantar MinIO
MINIO_ROOT_PASSWORD=password