# Models
BALL_MODEL_PATH="models/best_tennis_ball_detection.pt"
PLAYERS_MODEL_PATH="models/best_tennis_player_tracking.pt"
KPS_MODEL_PATH="models/best_court_key_points_detection.pth"

# MinIO
MINIO_ENDPOINT="minio:9000"
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="password"
MINIO_BUCKET="tennis-data"
MINIO_SECURE="False"

# RabbitMQ
RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672/"

# ===============================
# POSTGRES
# ===============================
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tennis